*.iml
standard-spring-boot/.idea/
standard-spring-boot/out/
tenants/.classpath
tenants/.project
tenants/.settings/*
tenants/target/*
tenants/camunda-h2-database.mv.db
tenants/target/maven-archiver/pom.properties
tenants/.vscode/settings.json
